{{!-- navbar --}}
<nav>
    <div class="nav-wrapper">
        <a href="Homepage.html" class="brand-logo"><i class="material-icons">home</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/api/Trackr/jsmith">Trackr</a></li>
            <li><a href="Carb-Trackr.html">Carb Trackr</a></li>
            <li><a href="Medications">Medications</a></li>
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Login/Sign-up</a>
        </ul>
    </div>
</nav>

{{!-- stuff that needs to be rendered in --}}

{{!-- inoput area --}}
<div class="trackr-input">
    <div class="row">
        <form  id="trackr-form" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="blood_glucose" type="text" class="validate" name="bloodGlucose">
                    <label for="blood_glucose">Blood Glucose</label>
                </div>
                <div class="input-field col s6">
                    <input id="blood_pressure" type="text" class="validate" name="bloodPressure">
                    <label for="blood_pressure">Blood Pressure</label>
                </div>
            </div>
        </form>
        <button type="submit" form="trackr-form" class="btn btn-success">Add New Info</button>
    </div>
</div>

{{!-- table to show recorded data --}}
<div class="trackr-container">
    <table class="striped">
        <div class="table-text">
            <thead>
                <tr>
                    <th>Date/Time</th>
                    <th>Blood Glucose</th>
                    <th>Blood Pressure</th>
                </tr>
            </thead>

            <tbody>
                {{#each user}}
                <tr>
                    <td>{{this.date_time}}</td>
                    <td>{{this.glucose}}</td>
                    <td>{{this.pressure}}</td>
                </tr>
                {{/each}}
            </tbody>
        </div>
    </table>
</div>

{{!-- login modal --}}
<div id="modal1" class="modal">
    <div class="modal-content">
        <form id="form-left" action="action_page.php" method="post">

            <div class="container">
                <h5>Login</h5>
                <hr>
                <label id="loginText" for="loginName"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label id="loginText" for="loginPass"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button id="loginBtn" type="submit">Login</button>
            </div>

            <div class="container">
                <button type="button" id="cancelLogin" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
        <form id="form-right" action="action_page.php">
            <div class="sign-up-container">
                <h5 id="signUpForm">Sign Up</h5>
                <hr>
                <label for="email"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
                <div class="clearfix">
                    <button type="button" id="cancelLogin" class="cancelbtn">Cancel</button>
                    <button type="submit" id="loginBtn" class="signupbtn">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/assets/js/trackr.js"><{{!}}/script>